.custom-card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.custom-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.custom-card .card-body {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
}

.custom-card .card-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #0340ea;
    margin: 0;
    padding: 10px 0;
}

.courses-section h2 {
    color: #0229b7;
    margin-bottom: 40px;
    font-size: 2rem;
    font-weight: bold;
}

.courses-section {
    padding: 50px 0;
    background-color: #f7f7f7;
}
