/* Ajuste geral do layout */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilização da Hero Section */
.hero-section {
    color: #ffffff; /* Texto branco */
    padding: 0; /* Remove padding */
    margin-bottom: 30px; /* Espaçamento abaixo da Hero Section */
}

.hero-section h1 {
    font-size: 2.5rem; /* Tamanho maior do título */
    font-weight: bold;
    margin-bottom: 20px; /* Espaçamento entre o título e o parágrafo */
}

.hero-section p {
    font-size: 1.2rem; /* Tamanho da fonte do parágrafo */
    line-height: 1.5; /* Aumentar o espaçamento entre linhas */
    margin-bottom: 30px; /* Espaçamento entre o parágrafo e o botão */
}

/* Estilo do botão */
.hero-section .btn {
    background-color: #65b156; /* Fundo verde */
    color: #ffffff; /* Texto branco */
    padding: 12px 30px; /* Tamanho confortável do botão */
    font-size: 1.1rem; /* Tamanho da fonte */
    border-radius: 50px; /* Bordas arredondadas */
    border: none;
    transition: background-color 0.3s, color 0.3s; /* Transição suave ao passar o mouse */
}

/* Alteração ao passar o mouse no botão */
.hero-section .btn:hover {
    background-color: #0229b7; /* Fundo azul escuro ao passar o mouse */
    color: #ffffff; /* Texto branco */
}

/* Ajustar a seção de cursos */
.courses-section {
    background-color: #f7f7f7;
    padding: 25px 0;
    margin-bottom: 15px;
}

/* Título da seção */
.courses-section h2 {
    color: #0229b7;
    margin-bottom: 8px;
    font-size: 1.6rem;
    font-weight: bold;
}

/* Botões de filtro */
.filter-btn {
    margin-right: 3px;
    margin-bottom: 8px;
    padding: 8px 12px;
    font-size: 0.9rem;
}

/* Cards */
.custom-card {
    border: none;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 12px;
}

.custom-card .card-body {
    padding: 12px;
}

.custom-card img {
    width: 200px; /* Aumente ou diminua o valor conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
    margin-bottom: 8px; /* Ajusta a margem inferior */
}

.custom-card .card-title {
    font-size: 1rem;
    font-weight: bold;
    color: #0340ea;
}

/* Estilo do formulário */
.lead-form-section {
    background-color: #f7f7f7;
    padding: 30px 0;
}

.lead-form {
    max-width: 550px;
    margin: 0 auto;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.lead-form .form-group {
    margin-bottom: 12px;
}

.lead-form .input-group-text {
    background-color: #0340ea;
    color: #ffffff;
    border: none;
    border-radius: 10px 0 0 10px;
}

.lead-form .form-control {
    border-radius: 0 10px 10px 0;
    border: 1px solid #ccc;
    padding: 8px;
}

.lead-form button {
    background-color: #0340ea;
    color: #ffffff;
    border-radius: 10px;
    border: none;
    padding: 10px;
    transition: background-color 0.3s;
}

.lead-form button:hover {
    background-color: #0229b7;
}

.lead-form h2 {
    margin-bottom: 18px;
    color: #0340ea;
    font-weight: bold;
}

/* Footer */
footer {
    background-color: #0229b7;
    color: #ffffff;
    padding: 15px 0;
    text-align: center;
    font-size: 0.85rem;
}

/* Diminuir espaçamentos nos cards */
.d-none {
    display: none;
}

/* Estilo do banner */
.banner-link {
    display: block;
    text-decoration: none;
}

.banner {
    background-image: url("/static/img/bannerxl.png"); /* Imagem padrão para desktops */
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
    position: relative;
    margin: 0;
    padding: 0;
}

.banner-content {
    color: #ffffff;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner-content h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.banner-content p {
    font-size: 1.2rem;
}

/* Media Queries para tablets e celulares */
@media (max-width: 1024px) {
    .banner {
        background-image: url("/static/img/bannerl.png"); /* Imagem para tablets */
        height: 400px;
    }
}

@media (max-width: 768px) {
    .banner {
        background-image: url("/static/img/bannerp.png"); /* Imagem para celulares */
        height: 300px;
    }
}

/* Estilo do botão no banner */
.banner-content a {
    background-color: #65b156;
    color: #ffffff;
    padding: 12px 30px;
    font-size: 1.1rem;
    border-radius: 50px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.banner-content a:hover {
    background-color: #0229b7;
    color: #ffffff;
}
