<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Inscrição</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Inscreva-se Agora</h1>
        <form action="{% url 'process_lead' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control" name="name" placeholder="Seu Nome" required>
            </div>
            <div class="form-group">
                <input type="email" class="form-control" name="email" placeholder="Seu E-mail" required>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="phone" placeholder="Seu Telefone" required>
            </div>
            <div class="form-group">
                <select class="form-control" name="course" required>
                    <option value="">Escolha o Curso</option>
                    <option value="ADMINISTRAÇÃO">ADMINISTRAÇÃO</option>
                    <option value="CIÊNCIAS CONTÁBEIS">CIÊNCIAS CONTÁBEIS</option>
                    <!-- adicione os outros cursos aqui -->
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
</body>
</html>
